body{
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  color: whitesmoke;


  /* background-color: black; */
}
.card {
  display: inline-block;
  height: 200px;
  width: 400px;
  border-radius: 10px;
  overflow: hidden;
}
.heading {
  margin: 0;
  padding: 30px 0 0 50px;
  font-weight: normal;
  font-size: 20px;
}
.summ {
  margin: 0;
  padding: 20px 0 20px 50px;
  font-weight:bold;
  font-size: 30px;
}
.dicount {
  margin: 0;
  padding: 20px 0 0 50px;
}
.logo {
  display: inline-block;
  position: relative;
  left: 335px;
  bottom: 275px;
}
.radius {
  display: inline-block;
  position: relative;

  width: 170px;
  height: 170px;
  background-color: white;
  border: 1px solid inherit;
  border-radius: 50%;
  opacity: 0.15;
}
.up{
  left: 230px;
  bottom: 70px;
}
.down{
  left: 100px;
  bottom: 200px;
}
.one {
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(242,28,28,1) 20%);
}
.two {
  background: rgb(255,255,255);
background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(28,112,242,1) 20%);
}
.three {
  background: rgb(255,255,255);
background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(28,242,135,1) 20%);
}